@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
   font-family: 'Roboto', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}
.download{
   text-decoration: none;
   color:black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 10px;
}

.top {
   transition: 2.4s;
   display: flex;
   width: 100%;
   color:white;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.329);
   padding: 10px;
}

.scrooll {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top:0;
   width: 100%;
   transition: 1.4s;
   background: linear-gradient(60deg,
           rgb(212, 13, 13) 0%,
           rgb(193, 0, 48) 100%);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.top .menu,ul {
   list-style: none;
}

.top .menu,ul,li {
   margin-right: 12px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap:20px;
}

.container .main-video-container{
   flex:1 1 700px;
   margin-top: 40px;
   padding:20px;
}

.container .main-video-container .main-video{
   margin-bottom: 7px;
   width: 100%;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.container .main-video-container .main-vid-title{
   font-size: 25px;
   color:#444;
}

.container .video-list-container{
   flex:1 1 350px;
   height: 580px;
   margin-top: 60px;
   overflow-y: scroll;
   padding:0px;
}

.container .video-list-container::-webkit-scrollbar{
   width: 5px;
}

.container .video-list-container::-webkit-scrollbar-track{
   background-color: #fff;
   border-radius: 5px;
}

.container .video-list-container::-webkit-scrollbar-thumb{
   background-color: #444;
   border-radius: 5px;
}

.container .video-list-container .list{
   display: flex;
   gap:15px;
   padding:10px;
   background-color: #eee;
   cursor: pointer;
   margin-bottom: 10px;
}

.container .video-list-container .list:last-child{
   margin-bottom: 0;
}

.container .video-list-container .list.active{
   background-color: rgb(250, 245, 245);
}

.container .video-list-container .list.active .list-title{
   color:rgb(20, 19, 19);
}

.container .video-list-container .list .list-video{
   width: 180px;
}

.container .video-list-container .list .list-title{
   font-size: 17px;
   color:#444;
}















@media (max-width:1200px){

   .container{
      margin:0;
   }

}

@media (max-width:450px){

   .container .main-video-container .main-vid-title{
      font-size: 18px;
      text-align: left;
   }
   .container .video-list-container{
      overflow-y: scroll;
   }
   .container .main-video-container{
      flex:1 1 700px;
      padding:0px;
   }.container .video-list-container{
      margin-top: 10px;
   }

   .container .video-list-container .list{
      flex-flow: column;
      gap:1px;
   }
   .menu-menu{display: none;}

   .container .video-list-container .list .list-video{
      width: 100%;
   }

   .container .video-list-container .list .list-title{
      font-size: 15px;
   }

}